/* line 1, ../sass/index.scss */
html {
  font-family: 'Lato'; }

/* line 4, ../sass/index.scss */
.row {
  margin: 0 auto; }

/* line 7, ../sass/index.scss */
h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #263238;
  margin-bottom: 50px; }

/* line 13, ../sass/index.scss */
h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #263238; }

/* line 18, ../sass/index.scss */
hr {
  height: 1px;
  background-color: #d5d5d5;
  border: none;
  width: 100%;
  margin: 20px 0; }

/* line 25, ../sass/index.scss */
p {
  color: #37474f;
  font-size: 1.1rem;
  line-height: 1.5; }
