/* WIDTH */
.tiny {width:$tiny}
.small {width:$small}
.medium {width:$medium}
.large {width:$large}
.extra {width:$extra}

/* ROW */
.row {
    display: flex;
}
.row.spread {
    justify-content: space-between;
}
.row.center {
    justify-content: center;
}

/* COLUMN */
.row .col{
    width: 100%;
}
@for $i from 0 through 100 {
    .row .col.col-#{$i} {
        width:1%*$i;
    }
}
@for $i from 0 through 100 {
    .row .col.offset-#{$i} {
        margin-left:1%*$i;
    }
}