/* WIDTH */
.small {
    width: $small;
}
.medium {
    width: $medium;
}
.large {
    width: $large;
}
.extra {
    width: $extra;
}

/* ROW */
.row {
    display: flex;
}
.row.spread {
    justify-content: space-between;
}
.row.center {
    justify-content: center;
}

/* COLUMN */
.row .col{
    width: 100%;
}
@for $i from 0 through 100 {
    .row .col.offset-#{$i} {
        margin-left:1%*$i;
    }
}

/* DEFAULT */
@media screen and (max-width: 100vw) {
    @for $i from 0 through 100 {
        .row .col.col-#{$i} {
            width:1%*$i;
        }
    }
}

/* EXTRA LARGE */
@media screen and (max-width: $extra) {
    @for $i from 0 through 100 {
        .row .col.xl-#{$i} {
            width:1%*$i;
        }
    }
}

/* LARGE */
@media screen and (max-width: $large) {
    @for $i from 0 through 100 {
        .row .col.lg-#{$i} {
            width:1%*$i;
        }
    }
}

/* MEDIUM */
@media screen and (max-width: $medium) {
    @for $i from 0 through 100 {
        .row .col.md-#{$i} {
            width:1%*$i;
        }
    }
}

/* SMALL */
@media screen and (max-width: $small) {
    @for $i from 0 through 100 {
        .row .col.sm-#{$i} {
            width:1%*$i;
        }
    }
}